*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
a:hover,a:active{
    text-decoration: none;
}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}
i{
    color: #2fccd0;
}
.buttonss:hover{
    background-color: #50d1c0;
    color: white;
    box-shadow: 0px 0px 10px 1px #8c8c8c;
}


/* ---------------------------------------what we offer section  start------------------------------- */

.serviceoffer{
    background-color: #f7f7f9;
    padding: 50px 0px;
    margin-bottom: 50px;
}
.progress{
    height: 0.6rem!important;
    background-color: #f1eded;
}
.headingss{
    margin-bottom: 50px;
}
.headingss h3{
    font-size: 1.5rem;
    font-weight: 600;
}
.names h6{
    color: #2e2e2e;
    font-size: 0.9rem;
    font-weight: bold;
}
.servicediv h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    word-spacing: 4px;
    line-height: 1.1;
}
.service-icon{
    margin: 30px 0px 0px 0px;
    color:#2fccd0;
}

/* ---------------------------------------what we offer section  end------------------------------- */


/* ---------------------------------project made section start------------------------------------- */

.projectwork{
    margin: 100px 0;
}
.projectwork h1{
    font-size: 2rem;
    text-align: center;
}

/* ---------------------------------project made section end---------------------------------------- */


/* ---------------------------------pricing section start------------------------------------- */
.pricing{
    height: 100vh;
    position: relative;
}
.pricing:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    background:linear-gradient(204deg,#16c9f6 50%,#fff 0%) ;
}
 .section-2{
    width: 100%;
    padding-top: 20px;
    justify-content: space-around;
}
.section-2-div1,
.section-2-div2,
.section-2-div3{
    background-color: #fff;
    width: 20%!important;
    padding: 30px 0px;
    text-align: center;
    transition: .7s;
}
.section-2-div1 span,
.section-2-div2 span,
.section-2-div3 span{
    font-size: 30px;
}
.buttonss{
    color:#50d1c0;
    border: 2px solid #50d1c0;
    padding:15px 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border-radius: 32px;
    overflow: hidden;
    outline: none;
}
.buttonss:active,.buttonss:checked{outline: none;}
.section-2-div1:hover,
.section-2-div2:hover,
.section-2-div3:hover{
    transform: translateY(15px);
    box-shadow: 0px 0px 10px 1px #8c8c8c;
}
.section-2-div1:hover h5,
.section-2-div2:hover h5,
.section-2-div3:hover h5,
.section-2-div1:hover span,
.section-2-div2:hover span,
.section-2-div3:hover span{
    color:#50d1c0;
}
.section-2-div1:hover .buttonss,
.section-2-div2:hover .buttonss,
.section-2-div3:hover .buttonss{
    background-color: #50d1c0;
    color: white;
    box-shadow: 0px 0px 10px 1px #8c8c8c;
}


/* ---------------------------------pricing section end---------------------------------------- */


/* --------------------------------------------------Coraousel as a happy clients-------------------------------  */
        .section-slides{
            box-shadow: 0px 0px 10px 1px #8c8c8c;
            margin: 30px 200px;
            padding: 30px 30px;

        }
        .slide-main{
            position: relative;            
        }
        .slide-item{
            width: 100%;
            text-align: center;
            display: none;
        }
        .slide1{
            padding: 20px;
        }
        .slide1 h1{
            line-height: 2;
        }
        .div-dot {
            align-items: center!important;
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active, .div-dot:hover {
            background-color: #717171;
        }
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }


/* --------------------------------------------------Coraousel as a happy clients-------------------------------  */

/* --------------------------------------------------Contact us start--------------------------------------------  */
.contact-main{
    width: 100%;
    height: 100vh;
    position: relative;   
}
.contact-main:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    background:linear-gradient(204deg,#16c9f6 50%,#fff 0%) ;
}
.contacting{
    text-align: center;
}
.contacting input{
    border: 2px solid #a09f9f;
    outline: none;
    background-color: #fff;
}
.contacting input:hover,
.contacting input:active{
    border: 2px solid #50d1c0;
}

.contacting input::placeholder{ 
    color: #a09f9f;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contacting:hover .buttonss{
    background-color: #50d1c0;
    color: white;
    box-shadow: 0px 0px 10px 1px #8c8c8c;
}


/* --------------------------------------------------Contact us end--------------------------------------------  */